<% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center mb-3">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <!-- change title -->
      <div class="mb-3">
        <label class="form-label" for="title">Enter Campground Title:</label>
        <input
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter campground title.</div>
      </div>
      <!-- change location -->
      <div class="mb-3">
        <label class="form-label" for="location"
          >Enter Campground Location:</label
        >
        <input
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter campground location.</div>
      </div>
      <!-- change price -->
      <div class="mb-3">
        <label class="form-label" for="price">Enter Campground Price:</label>
        <input
          type="text"
          id="price"
          name="campground[price]"
          value="<%= campground.price %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter campground price.</div>
      </div>
      <!-- change image url -->
      <div class="mb-3">
        <div class="mb-3">
          <label for="image" class="form-label">Add Campground Images:</label>
          <input
            class="form-control"
            type="file"
            id="image"
            name="image"
            multiple
          />
        </div>
      </div>
      <!-- change description -->
      <div class="mb-3">
        <label class="form-label" for="description"
          >Enter Campground Description:</label
        >
        <textarea
          class="form-control"
          id="description"
          name="campground[description]"
          style="height: 100px"
          required
        >
<%= campground.description %> </textarea
        >
        <div class="invalid-feedback">Please enter campground description.</div>
      </div>
      <!-- show images for deletion -->
      <div class="mb-3">
        <% campground.images.forEach(function(img, i){ %>
        <img src="<%=img.thumbnail%>" alt="" class="img-thumbnail" />
        <div>
          <input
            class="form-check-inline"
            type="checkbox"
            name="deleteImages[]"
            value="<%=img.filename%>"
            id="image-<%=i%>"
          />
          <label for="image-<%=i%>">Delete</label>
        </div>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Edit Campground</button>
      </div>
    </form>
    <div>
      <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    </div>
  </div>
</div>
