<% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <!-- change title -->
      <div class="mb-3">
        <label class="form-label" for="title">Enter Campground Title:</label>
        <input
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter campground title.</div>
      </div>
      <!-- change location -->
      <div class="mb-3">
        <label class="form-label" for="location"
          >Enter Campground Location:</label
        >
        <input
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter campground location.</div>
      </div>
      <!-- change price -->
      <div class="mb-3">
        <label class="form-label" for="price">Enter Campground Price:</label>
        <input
          type="text"
          id="price"
          name="campground[price]"
          value="<%= campground.price %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter campground price.</div>
      </div>
      <!-- change image url -->
      <div class="mb-3">
        <label class="form-label" for="image">Enter Image Url:</label>
        <input
          type="text"
          id="image"
          name="campground[image]"
          value="<%= campground.image %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">
          Please enter campground image in url format.
        </div>
      </div>
      <!-- change description -->
      <div class="mb-3">
        <label class="form-label" for="description"
          >Enter Campground Description:</label
        >
        <textarea
          class="form-control"
          id="description"
          name="campground[description]"
          style="height: 100px"
          required
        >
        <div class="invalid-feedback">
          Please enter campground description.
        </div>
<%= campground.description %> </textarea
        >
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Edit Campground</button>
      </div>
    </form>
    <div>
      <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    </div>
  </div>
</div>
